.page {
  width: 1320px;
  height: 90px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.wrap {
  width: 306px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.container {
  width: 306px;
  height: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.image {
  width: 90px;
  height: 90px;
}
.content {
  width: 196px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 20px;
}
.main {
  width: 196px;
  height: 59.27px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.image1 {
  width: 126.65px;
  height: 13.52px;
  margin-left: 0.96px;
}
.image2 {
  width: 196px;
  height: 1px;
  margin-top: 9.25px;
}
.image3 {
  width: 196px;
  height: 20px;
  box-sizing: border-box;
  margin-top: 3.5px;
}
.section {
  width: 196px;
  height: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 4px;
}
.subSection {
  width: 196px;
  height: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.block {
  width: 98px;
  overflow: hidden;
  border-radius: 100px 0px 0px 100px;
  box-sizing: border-box;
  background: rgba(171, 8, 227, 1);
  min-height: 8px;
}
.block1 {
  width: 98px;
  overflow: hidden;
  border-radius: 0px 100px 100px 0px;
  box-sizing: border-box;
  background: rgba(68, 68, 68, 1);
  min-height: 8px;
}
.wrap1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5px;
  margin-left: 414px;
}
.container1 {
  width: 600px;
  height: 76px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content1 {
  height: 76px;
  border-radius: 18px;
  box-sizing: border-box;
  background: rgba(46, 46, 46, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-right: 12px;
  padding-left: 16px;
}
.main1 {
  width: 238px;
  height: 52px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
}
.subSection1 {
  width: 69.94px;
  height: 43.32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.image4 {
  width: 69.84px;
  height: 10.48px;
}
.image5 {
  width: 28px;
  height: 26px;
  box-sizing: border-box;
  margin-top: 6.85px;
  margin-left: 41.94px;
}
.section2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: 16px;
}
.subSection2 {
  width: 151px;
  height: 52px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.block2 {
  border-radius: 12px;
  box-sizing: border-box;
  background: rgba(171, 8, 227, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.image6 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  box-sizing: border-box;
}
.block3 {
  width: 91px;
  height: 52px;
  border-radius: 12px;
  box-sizing: border-box;
  background: rgba(0, 175, 60, 1);
  margin-left: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.image7 {
  width: 43px;
  height: 24px;
  box-sizing: border-box;
  margin-left: 12px;
}
.image8 {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.content2 {
  height: 76px;
  border-radius: 18px;
  box-sizing: border-box;
  background: rgba(46, 46, 46, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-right: 12px;
  padding-left: 16px;
  margin-left: 8px;
}
.main2 {
  width: 117px;
  height: 52px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.image9 {
  width: 49px;
  height: 48px;
  box-sizing: border-box;
}
.section3 {
  border-radius: 12px;
  box-sizing: border-box;
  background: rgba(171, 8, 227, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}
.image10 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  box-sizing: border-box;
}
.content3 {
  height: 76px;
  border-radius: 18px;
  box-sizing: border-box;
  background: rgba(46, 46, 46, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-right: 12px;
  padding-left: 16px;
  margin-left: 8px;
}
.main3 {
  width: 145px;
  height: 52px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.image11 {
  width: 77px;
  height: 48px;
  box-sizing: border-box;
}
.section4 {
  border-radius: 12px;
  box-sizing: border-box;
  background: rgba(171, 8, 227, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}
.image12 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  box-sizing: border-box;
}
